easydict==1.10
faiss-cpu==1.7.2
KDEpy==1.1.0
matplotlib==3.6.0
numpy==1.23.3
opencv-python==4.7.0.68
pandas==1.5.0
Pillow==9.2.0
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.12.1
sklearn==0.0
timm==0.8.2.dev0
torch==1.12.0+cu113
torchaudio==0.12.0+rocm5.1.1
torchsummary==1.5.1
torchvision==0.13.0+cu113
tqdm==4.64.1
